[Unit]
Description=pHTTP exit app
After=network.target

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=30s
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
WorkingDirectory=/opt/phttp-exit-app
EnvironmentFile=/opt/phttp-exit-app/.env
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
PIDFile=/opt/phttp-exit-app/phttp-exit-app.pid

[Install]
WantedBy=default.target
