# docker-compose file that allows pHTTP exit app to run alongside HOPRd
version: "3"

networks:
  hoprnet:
    name: hoprnet
services:
  phttp-exit-app:
    restart: always
    mem_reservation: 1g
    mem_limit: 1g
    container_name: phttp-exit-app
    hostname: phttp-exit-app
    image: europe-west3-docker.pkg.dev/hoprassociation/docker-images/phttp-exit-app:{{ phttp_exit_app_version }}
    env_file:
        - .env-default
        - .env
    volumes:
        - '/opt/phttp-exit-app/db:/app/db'
    networks:
      - hoprnet
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "7"
