# docker-compose file that allows RPCh exit node to run alongside HOPRd
version: "3"

networks:
  hoprnet:
    name: hoprnet
services:
  exit-node:
    restart: always
    mem_reservation: 1g
    mem_limit: 1g
    container_name: exit-node
    hostname: exit-node
    image: europe-west3-docker.pkg.dev/hoprassociation/docker-images/phttp-exit-app:{{ rpch_exit_node_version }}
    env_file:
        - .env-default
        - .env
    volumes:
        - '/opt/exit-node/db:/app/db'
    networks:
      - hoprnet
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "7"
